
.title {
	font-family: "Palatino Linotype";
	font-size:50px;
	position:relative;
	margin: 20px 50px 10px 5px;
	color: Black;
}
.sub-title {
	font-family: "Palatino Linotype";
	font-size:12px;
	position:relative;
	margin: -7px 50px 10px 10px;
	color: Black;
}
.canvas{
	height: 960px;
	width: 1360px;
	margin: 20px 100px 10px 5px;
	position: relative;
}

input[type=text] {
	font-size: :90%;
	padding: 0.2em;
	height: 30px;
	width:500px;
	margin: 10px 50px 0px 5px;
	border: 0.1px solid grey;

}

input[type=submit]{
	height: 30px;
	margin-left: -50px;
	background-color: white;
	border:1px solid grey;
}

.keyword{
	margin-left: 30px; 
}